/*
    Revision realizada por Martin Galvan
    -El codigo esta identado y es legible correctamente
    -Las reglas CSS estan bien definidas y descrptivas
    -Uso excelente de los selectores en CSS
    -La consistencia del estilo se puede ver en toda la pagina
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: rgb(0, 139, 139, 0.2);
}

header img {
  width: 100%;
}

h1 {
  font-size: 5%;
  font-family: Roboto, serif;
}

nav {
  position: fixed;
  background-color: darkcyan;
  text-align: center;
}

nav li {
  display: inline-block;
  /*float: left;*/
  font-family: Roboto;
  font-size: 1em;
  text-decoration: none;
  padding: 1%;
  background-color: darkcyan;
  list-style: none;
}

nav a {
  color: white;
  float: left;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

section {
  margin-top: 5%;
}

h2 {
  text-align: center;
}

#about_me {
  margin-top: 3%;
}

#about_me p {
  text-align: justify;
  margin: 1% 15%;
}

#about_me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

#projects,
#hobbies,
#academic_info {
  background-color: rgb(255, 255, 204);
  padding-top: 4%;
  padding-bottom: 4%;
}

table {
  margin: 2% 15%;
}

td {
  padding-left: 2%;
  padding-right: 2%;
}

td p {
  padding-bottom: 1%;
}

li {
  list-style: square;
  margin-left: 2%;
}

#interests p {
  font-weight: bolder;
  text-align: center;
  font-size: 1.2em;
}

#hobbies h3 {
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 5%;
}

iframe {
  width: 100%;
  height: 100%;
  padding-top: 7%;
}

#hobbies img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#academic_info h2,
#academic_info ul {
  margin-left: 15%;
  margin-right: 15%;
}

#academic_info h2,
#skills h2 {
  margin-bottom: 2%;
}

#skills {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

#skills h3,
#skills p {
  margin-bottom: 2%;
}

footer {
  background-color: rgb(102, 102, 102, 0.7);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer h2 {
  margin-bottom: 2%;
}

footer img {
  width: 3%;
}
